*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(IMAGES/bgg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 210px;
    float: left;
    height: 70px;
}

.icon img{
    float: left;
	width: 130px;
  	height: auto;
    margin-top: -5px;
}
.menu{
    width: 1300px;
    float: right;
    height: 70px;
}

ul{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 50px;
    margin-top: -50px;
    font-size: 13px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: yellow;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}
.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.content h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 65px;
    padding-left: 20px;
    margin-top: 10%;
    letter-spacing: 2px;
}
.cn:hover{
    background-color: #fff;
}
.content span{
    color: yellow;
    font-size: 65px;
}

